/*:root {
  --color-white: #fff;
  --color-black: #000;
  --font-family: "Roboto", sans-serif;
}*/

.movie-gallery {
  background-color: #fff;
  color: #000;
  display: grid;
  margin: 0 auto;
}

/* pagination */

.arrow-icon {
  max-height: 100%;
  max-width: 100%;
}

.buttons-pages,
.pagination-container {
  display: flex;
  justify-content: center;
}

.page-btn {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: inherit;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  opacity: 100%;
  text-decoration: none;
  width: 40px;
}

.page-btn:hover,
.page-btn:focus,
.page-btn:active {
  background-color: #f7f7f7;
}

.buttons-pages .page-btn.active {
  background-color: #ff6b08;
  color: #fff;
}

.page-btn.prev,
.page-btn.next {
  background-color: #f7f7f7;
  position: relative;
}

.page-btn.prev:hover,
.page-btn.prev:focus,
.page-btn.prev:active,
.page-btn.next:hover,
.page-btn.next:focus,
.page-btn.next:active {
  background-color: #ff6b08;
}

.page-btn.prev svg {
  left: 7px;
  position: absolute;
  width: 32px;
}

.page-btn.next svg {
  right: 7px;
  position: absolute;
  width: 32px;
}

.hidden {
  display: none;
}

@media screen and (min-width: 320px) {
  .movie-gallery {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 20px;
    padding: 20px;
    width: 320px;
    row-gap: 20px;
  }
}

@media screen and (min-width: 768px) {
  .movie-gallery {
    width: 768px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;
    row-gap: 32px;
    padding: 64px 32px;
  }
}

@media screen and (min-width: 1280px) {
  .movie-gallery {
    width: 1280px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    row-gap: 72px;
  }
}
