.movie-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  max-height: 440px;
  max-width: 280px;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .movie-card {
    max-height: 495px;
    max-width: 335px;
    gap: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .movie-card {
    max-height: 635px;
    max-width: 395px;
    gap: 20px;
  }
}