.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  height: 100px;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .footer {
    height: 79px;
    margin-top: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    height: 77px;
  }
}

.footer-paragraph {
  color: #545454;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .footer-paragraph {
    font-size: 19px;
  }
}

.team-link {
  color: #545454;
  text-decoration: underline;
  cursor: pointer;
}

.icon-heart {
  color: #ff6b08;
  height: 16px;
  width: 16px;
}
@media screen and (min-width: 768px) {
  .icon-heart {
    height: 19px;
    width: 19px;
  }
}
