:root {
  --color-white: #fff;
  --color-dark: #252525;
  --color-transparent: rgba(0, 0, 0, 56%);
  --color-red: #ff001b;
}

.library-header {
  background-color: var(--color-dark);
  background-image: url('../images/library-background-mobile.png');
  background-image: url('../images/library-background-mobile.png'),
    linear-gradient(var(--color-transparent), var(--color-transparent));
  background-position: center;
  background-size: 100%;
}

.library-header-container {
  color: var(--color-white);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0 auto;
  max-width: 320px;
  max-height: 230px;
  padding: 40px 20px 44px;
}

/* list */

.library-header-list-right {
  display: flex;
  font-size: 12px;
  gap: 39px;
  text-transform: uppercase;
}

/* underline */

.library-header-list-right .link::after {
  background-color: var(--color-red);
  bottom: -4px;
  content: '';
  height: 3px;
  left: 0;
  position: absolute;
  transition: width 250ms ease-in-out;
  width: 0;
}

.library-header-list-right .link:hover::after,
.library-header-list-right .link:focus::after,
.library-header-list-right .main-header-li:last-child .link::after {
  width: 100%;
}

/* buttons */

.l-btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.l-header-btn {
  background-color: transparent;
  color: white;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 5px;
  height: 44px;
  width: 130px;
  font-family: 'Roboto', sans-serif;
  transition: background-color 250ms ease, color 250ms ease, border 250ms ease;
}

.l-header-btn:hover,
.l-header-btn:focus,
.l-header-btn:active {
  background-color: #ff6b08;
  color: white;
  border: #ff6b08;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .library-header {
    background-image: url('../images/library-background-mobile@2x.png');
    background-image: url('../images/library-background-mobile@2x.png'),
      linear-gradient(var(--color-transparent), var(--color-transparent));
  }
}

@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1280px) {
}

/* TABLET */

@media screen and (min-width: 768px) {
  .library-header {
    background-image: url('../images/library-background-tablet.png');
    background-image: url('../images/library-background-tablet.png'),
      linear-gradient(var(--color-transparent), var(--color-transparent));
  }

  .library-header-container {
    max-width: 768px;
    max-height: 216px;
    padding: 40px 32px 45px;
  }

  .l-header-btn {
    height: 42px;
    width: 152px;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .library-header {
      background-image: url('../images/library-background-tablet@2x.png');
      background-image: url('../images/library-background-tablet@2x.png'),
        linear-gradient(var(--color-transparent), var(--color-transparent));
    }
  }
}

/* DESKTOP */

@media screen and (min-width: 1280px) {
  .library-header {
    background-image: url('../images/library-background-desktop.png');
    background-image: url('../images/library-background-desktop.png'),
      linear-gradient(var(--color-transparent), var(--color-transparent));
  }

  .library-header-container {
    max-width: 1280px;
    padding: 40px 32px 44px;
  }

  .l-header-btn {
    height: 44px;
    width: 148px;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .library-header {
      background-image: url('../images/library-background-desktop@2x.png');
      background-image: url('../images/library-background-desktop@2x.png'),
        linear-gradient(var(--color-transparent), var(--color-transparent));
    }
  }
}
