:root {
  --color-white: #fff;
  --color-dark: #252525;
  --color-transparent: rgba(0, 0, 0, 56%);
  --color-red: #ff001b;
}

.link {
  color: inherit;
  text-decoration: none;
}

.library-header-container {
  background-color: var(--color-dark);
  background-image: url('../images/library-background-mobile.png');
  background-image: url('../images/library-background-mobile.png'),
    linear-gradient(var(--color-transparent), var(--color-transparent));
  background-position: center;
  color: var(--color-white);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0 auto;
  max-width: 320px;
  max-height: 230px;
  padding: 40px 20px 44px;
}

.first-heading {
  display: none;
}

/* list */

.main-header-list {
  align-items: center;
  display: flex;
  font-weight: 500;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 44px;
}

.main-header-list-left {
  align-items: center;
  display: flex;
  gap: 8px;
}

.logo-link {
  display: inline-block;
  transition: transform 250ms ease;
}

.logo-link:hover,
.logo-link:focus {
  transform: scale(1.1);
}

.icon-film {
  max-width: 24px;
  max-height: 24px;
}

.logo-text {
  display: none;
  font-size: 30px;
}

.library-header-list-right {
  display: flex;
  font-size: 12px;
  gap: 39px;
  text-transform: uppercase;
}

.main-header-li {
  list-style: none;
  position: relative;
}

.link:focus {
  outline: none;
}

/* underline */

.library-header-list-right .link::after {
  background-color: var(--color-red);
  bottom: -4px;
  content: '';
  height: 3px;
  left: 0;
  position: absolute;
  transition: width 250ms ease-in-out;
  width: 0;
}


.library-header-list-right .link:hover::after,
.library-header-list-right .link:focus::after,
.library-header-list-right .main-header-li:last-child .link::after {
  width: 100%;
}

/* buttons */

.l-btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.l-header-btn {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  height: 44px;
  width: 130px;
  font-family: 'Roboto', sans-serif;
}
@media screen and (min-width: 768px) {
  .l-header-btn {
    height: 42px;
    width: 152px;
  }
}
@media screen and (min-width: 1280px) {
  .l-header-btn {
    height: 44px;
    width: 148px;
  }
}

.l-header-btn:hover,
.l-header-btn:focus,
.l-header-btn:active {
  background-color: #ff6b08;
  color: white;
  border: #ff6b08;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .library-header-container {
    background-image: url('../images/library-background-mobile@2x.png');
    background-image: url('../images/library-background-mobile@2x.png'),
      linear-gradient(var(--color-transparent), var(--color-transparent));
  }
}

/* TABLET */

@media (min-width: 768px) {
  .library-header-container {
    background-image: url('../images/library-background-tablet.png');
    background-image: url('../images/library-background-tablet.png'),
      linear-gradient(var(--color-transparent), var(--color-transparent));
    max-width: 768px;
    max-height: 216px;
    padding: 40px 32px 45px;
  }

  .main-header-list {
    margin-bottom: 32px;
  }

  .logo-text {
    display: block;
  }

  .main-header-form {
    margin: 0 auto 20px;
    max-width: 336px;
  }

  .main-header-fail {
    text-align: center;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .library-header-container {
      background-image: url('../images/library-background-tablet@2x.png');
      background-image: url('../images/library-background-tablet@2x.png'),
        linear-gradient(var(--color-transparent), var(--color-transparent));
    }
  }
}

/* DESKTOP */

@media (min-width: 1280px) {
  .library-header-container {
    background-image: url('../images/library-background-desktop.png');
    background-image: url('../images/library-background-desktop.png'),
      linear-gradient(var(--color-transparent), var(--color-transparent));
    max-width: 1280px;
    padding: 40px 32px 44px;
  }

  .main-header-list-left {
    gap: 10px;
  }

  .main-header-form {
    max-width: 394px;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .library-header-container {
      background-image: url('../images/library-background-desktop@2x.png');
      background-image: url('../images/library-background-desktop@2x.png'),
        linear-gradient(var(--color-transparent), var(--color-transparent));
    }
  }
}
