<main>
  <div class="movie-gallery" id="movie-items">
    <!-- <div class="movie-card">
    </div> -->
    <ul>
      <li>card 1</li>
      <li>card 2</li>
      <li>card 3</li>
      <li>card 4</li>
      <li>card 5</li>
    </ul>
  </div>
  <button class="page-btn" style="background-color: #f7f7f7">
    <svg><use href="./images/icons.svg#icon-arrow-left"></use></svg>
  </button>
  <div class="pagination-container" id="pagination">
    <!-- <button class="page-btn" style="background-color: #f7f7f7">
      <svg><use href="./images/icons.svg#icon-arrow-left"></use></svg>
    </button>
    <button class="page-btn">1</button>
    <button class="page-btn">2</button>
    <button class="page-btn">3</button>
    <button class="page-btn">...</button>
    <button class="page-btn hidden"></button>
    <button class="page-btn hidden"></button>
    <button class="page-btn hidden"></button>
    <button class="page-btn hidden"></button>
    <button class="page-btn">n</button>
    <button class="page-btn" style="background-color: #f7f7f7">
      <svg><use href="./images/icons.svg#icon-arrow-right"></use></svg>
    </button> -->
  </div>
  <button class="page-btn" style="background-color: #f7f7f7">
    <svg><use href="./images/icons.svg#icon-arrow-right"></use></svg>
  </button>
</main>
