<main>
  <div class="movie-gallery" id="movie-items">
    <!-- <div class="movie-card">
    </div> -->
    <ul>
      <li>card 1</li>
      <li>card 2</li>
      <li>card 3</li>
      <li>card 4</li>
      <li>card 5</li>
    </ul>
  </div>
  <div class="buttons-pages">
    <button class="page-btn prev" style="background-color: #f7f7f7">
      <svg class="arrow-icon"><use href="./images/icons.svg#icon-arrow-left"></use></svg>
    </button>
    <div class="pagination-container" id="pagination"></div>
    <button class="page-btn next" style="background-color: #f7f7f7">
      <svg class="arrow-icon"><use href="./images/icons.svg#icon-arrow-right"></use></svg>
    </button>
  </div>
</main>
