<header class="main-header">
  <div class="main-header-container">
    <h1 class="first-heading">Filmoteka</h1>
    <ul class="main-header-list">
      <li class="main-header-left">
        <a href="./index.html" class="link logo-link">
          <ul class="main-header-list-left">
            <li class="main-header-li">
              <svg class="icon-film">
                <use href="./images/icons.svg#icon-film"></use>
              </svg>
            </li>
            <li class="main-header-li logo-text">Filmoteka</li>
          </ul>
        </a>
      </li>
      <li class="main-header-right">
        <ul class="main-header-list-right">
          <li class="main-header-li">
            <a href="./index.html" class="link">home</a>
          </li>
          <li class="main-header-li">
            <a href="./partials/library/library.html" id="switch-library" class="link">my library</a>
          </li>
        </ul>
      </li>
    </ul>
    <form class="main-header-form">
      <input
        class="main-header-input"
        type="text"
        id="search"
        name="search"
        placeholder="Movie search"
      />
      <button class="main-header-submit" type="submit">
        <svg class="icon-search">
          <use href="./images/icons.svg#icon-search"></use>
        </svg>
      </button>
    </form>
    <p class="main-header-fail">Search result not successful. Enter the correct movie name.</p>
  </div>
</header>
