<div class="team-modal-backdrop is-hidden" id="modal-team">
  <div class="team-modal-container">
    <button class="modal-team-close" data-modal-team-close>
      X
      <!--
      <svg class="modal-icon" width="8" height="8">
        <use href="./images/icons.svg#icon-close"></use>
      </svg> 
      -->
    </button>
    <div class="team-members-container">
      <h1 class="team-name">Made by Team TFC</h1>
      <h2 class="team-members">Team Members:</h2>
      <div class="team-member">
        <h3 class="team-member-name">Natalia Chybińska</h3>
        <p class="team-member-role">Team Leader</p>
      </div>
      <div class="team-member">
        <h3 class="team-member-name">Katarzyna Filas</h3>
        <p class="team-member-role">Scrum Master & Frontend Developer</p>
      </div>
      <div class="team-member">
        <h3 class="team-member-name">Natalia Fedyk</h3>
        <p class="team-member-role">Backend & Frontend Developer</p>
      </div>
      <div class="team-member">
        <h3 class="team-member-name">Kacper Radzewicz</h3>
        <p class="team-member-role">Backend Developer</p>
      </div>
      <div class="team-member">
        <h3 class="team-member-name">Karolina Wójcik</h3>
        <p class="team-member-role">Backend & Frontend Developer</p>
      </div>
      <div class="team-member">
        <h3 class="team-member-name">Łukasz Wątorski</h3>
        <p class="team-member-role">Backend & Frontend Developer</p>
      </div>
      <div class="team-member">
        <h3 class="team-member-name">Klaudia Szpigun</h3>
        <p class="team-member-role">Backend Developer</p>
      </div>
    </div>
  </div>
</div>
