<div class="modal-window">
<div class="modal-content">

<button class="modal-close-btn">
<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M1 15L15 1" stroke="black" stroke-width="2" />
</svg>
</button>

<div class="modal-poster">
    <img class="modal-poster-img">
</div>

<div class="modal-info-film">
    <h1 class="modal-movie-title"></h1>
<div class="modal-movie">
    <div class="modal-movie-info-name">
        <p class="info-name">Vote / Votes</p>
        <p class="info-name">Popularity</p>
        <p class="info-name">Original Title</p>
        <p class="info-name">Genre</p>
    </div>
    <div class="modal-info-value">
        <p class="info-value"></p>
        <p class="info-value"></p>
        <p class="info-value"></p>
        <p class="info-value"></p>

    </div>
</div>
<h2 class="modal-movie-about">About</h2>
<p class="modal-about-text"></p>
<ul class="modal-btn-list">
    <li class="modal-btn-list-item">
        <button class="modal-movie-btn add-watched" type="button">Add to watched</button>
    </li>
    <li class="modal-btn-list-item">
        <button class="modal-movie-btn add-queue" type="button">Add to queue</button>
    </li>
</ul>
</div>

</div>
</div>