<div class="modal-team-backdrop is-hidden">
  <div tabindex="-1" role="dialog" class="modal-team-container is-hidden" id="modal-team">
    <div class="modal-team-content">
      <button class="modal-team-close" data-modal-team-close>
        <svg
          class="icon-close"
          width="30"
          height="30"
          viewBox="0 0 30 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M8 8L22 22" stroke="white" stroke-width="2"></path>
          <path d="M8 22L22 8" stroke="white" stroke-width="2"></path>
        </svg>
      </button>
      <ul class="modal-credits">
        <li>
          <ul class="modal-credits-person">
            <li class="modal-credits-name">Natalia Chybińska</li>
            <li class="modal-credits-role">Team Leader</li>
          </ul>
        </li>
        <li>
          <ul class="modal-credits-person">
            <li class="modal-credits-name">Kasia Filas</li>
            <li class="modal-credits-role">Scrum Master</li>
          </ul>
        </li>
        <li>
          <ul class="modal-credits-person">
            <li class="modal-credits-name">Kacper Radzewicz</li>
            <li class="modal-credits-role">Backend</li>
          </ul>
        </li>
        <li>
          <ul class="modal-credits-person">
            <li class="modal-credits-name">Natalia Fedyk</li>
            <li class="modal-credits-role">Role</li>
          </ul>
        </li>
        <li>
          <ul class="modal-credits-person">
            <li class="modal-credits-name">Karolina Wójcik</li>
            <li class="modal-credits-role">Role</li>
          </ul>
        </li>
        <li>
          <ul class="modal-credits-person">
            <li class="modal-credits-name">Łukasz Wątorski</li>
            <li class="modal-credits-role">Role</li>
          </ul>
        </li>
        <li>
          <ul class="modal-credits-person">
            <li class="modal-credits-name">Klaudia Szpigun</li>
            <li class="modal-credits-role">Role</li>
          </ul>
        </li>
        <li>
          <ul class="modal-credits-person">
            <li class="modal-credits-name">Piotr K</li>
            <li class="modal-credits-role">Role</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
