<div class="modal-team-backdrop is-hidden">
  <div class="modal-team-container is-hidden" id="modal-team">
    <div class="modal-team-content">
      <button class="modal-team-close" data-modal-team-close>X</button>
      <ul class="modal-credits">
        <li>
          <ul class="modal-credits-person">
            <li>Natalia Chybińska</li>
            <li class="modal-credits-role">Team Leader</li>
          </ul>
        </li>
        <li>
          <ul class="modal-credits-person">
            <li>Kasia Filas</li>
            <li class="modal-credits-role">Scrum Master</li>
          </ul>
        </li>
        <li>
          <ul class="modal-credits-person">
            <li>Kacper Radzewicz</li>
            <li class="modal-credits-role">Backend</li>
          </ul>
        </li>
        <li>
          <ul class="modal-credits-person">
            <li>Natalia Fedyk</li>
            <li class="modal-credits-role">Backend</li>
          </ul>
        </li>
        <li>
          <ul class="modal-credits-person">
            <li>Karolina Wójcik</li>
            <li class="modal-credits-role">Role</li>
          </ul>
        </li>
        <li>
          <ul class="modal-credits-person">
            <li>Łukasz Wątorski</li>
            <li class="modal-credits-role">Role</li>
          </ul>
        </li>
        <li>
          <ul class="modal-credits-person">
            <li>Klaudia Szpigun</li>
            <li class="modal-credits-role">Role</li>
          </ul>
        </li>
        <li>
          <ul class="modal-credits-person">
            <li>Piotr K</li>
            <li class="modal-credits-role">Role</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
